*{
    font-family: Poppins, Arial;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    gap: 80px;
}

.nav-right-side{
    display: flex;
    align-items: center;
    width: 232px;
    height: 50px;
    gap: 12px;
}

.nav-left-side {
    display: flex;
    width: 42px;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}

nav {
    display: flex;    
    flex-direction: row;
    width: 1100px;
    padding: 40px 90px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}


section {
    width: 1100px;
    height: 788px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-color: black;
    padding-left: 90px;
    padding-right: 90px;
}

main {
    width: 1100px;
    height: 798px;
    padding: 90px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 60px;
    margin-bottom: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 1281px;
    height: 654px;
    border-radius: 48px 48px 0px 0px;
    background: #111827;
    padding: 0px 24px 28px;
    margin-top: 80px;
    color: #fff;
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

footer div:first-child {
    max-width: 1133px;
}

/*footer img[src$=".png"] {
    height: 546px;
}*/

a {
    color:#fff;
    text-decoration: none;
    border-bottom:  2px solid #fff;
    width: fit-content;
}

.card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 44px;
    background: linear-gradient(99.03deg, #FBED96 -1%, #ABECD6 92.31%);
    box-shadow: 0px 23px 30px 0px #abecd633, 0px 4px 12px 0px #0000001a;
    margin-left: 90px;
    margin-right: 90px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    align-self: stretch;
    padding: 38px 130px;
}

.profile-icon {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #111827;
}

.card-title {
    color: #111827;
    font-family: Nunito;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.64px;
    margin: 0;
    padding: 0;
}

.card-body {
    color: #111827;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.6%;
    margin: 0;
    padding: 0;
}

.ideias {
    background: linear-gradient(105deg, #40C4FF 36.75%, #189FFF 82.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.6%;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.buttons-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 38px;
}

.contact-button {
    width: 130px;
    height: 37px;
    padding: 8px, 36px;
    border-radius: 32px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #111827;
    color: #fff;
}

.download-button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30px;
    background: none;
    font-size: 14px;
    gap: 4px;
}

.contact-button:hover, .download-button:hover{
    cursor: pointer;
}

.main-title {
    align-self: stretch;
    justify-content: flex-end;
    width: 1100px;
    height: 164px;
    color: #111827;
    font-family: Poppins;
    font-size: 92px;
    font-style: normal;
    font-weight: 500;
    line-height: 82px; /* 89.13% */
    margin-top: 0;
    margin-bottom: 0;
}

.project-carousel {
    display: flex;
    align-items: center;
    gap: 21px;
    width: 1101px;
    height: 450px;
}

.project {
    display: flex;
    width: 353px;
    height: 450px;
    flex-direction: column;
    align-items: flex-start;
}

.project-title {
    color: #111827;
    font-family: "Poppins";
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding:0;
}

.project-tags{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px 0;
}


.React {
    width: 79px;
    height: 32px;
    padding: 8px, 16px;
    border-radius: 32px;
    gap: 8px;
    background-color: #38BDF8;
    color: #fff;
    border: none;
    font-family: "Poppins";
}


.Rest-API {
    width: 95px;
    height: 32px;
    padding: 8px, 16px;
    border-radius: 32px;
    gap: 8px;
    border: none;
    background-color: #F43F5E;
    color: #fff;
}


.React-Native {
    width: 132px;
    height: 32px;
    padding: 8px, 16px;
    border-radius: 32px;
    gap: 8px;
    background-color: #38BDF8;
    color: #fff;
    border: none;
    font-family: "Poppins";
}

.Redux {
    width: 81px;
    height: 32px;
    padding: 8px, 16px;
    border-radius: 32px;
    gap: 8px;
    border: none;
    background-color: #111827;
    color: #fff;
}

.HTML {
    width: 73px;
    height: 32px;
    padding: 8px, 16px;
    border-radius: 32px;
    gap: 8px;
    background-color: #38BDF8;
    color: #fff;
    border: none;
    font-family: "Poppins";
}

.CSS {
    width: 64px;
    height: 32px;
    padding: 8px, 16px;
    border-radius: 32px;
    gap: 8px;
    background-color: #34D399;
    color: #fff;
    border: none;
    font-family: "Poppins";
}

.JS {
    width: 50px;
    height: 32px;
    padding: 8px, 16px;
    border-radius: 32px;
    gap: 8px;
    background-color: #F59E0B;
    color: #fff;
    border: none;
    font-family: "Poppins";
}


.project-links {
    display: flex;
    padding-left: 14px;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
}

.footer-project-carousel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 1100px;
    height: 64px;
}


.section-header {
    display: flex;
    align-items: flex-start;
}

.section-title {
    width: 269px;
    height: 164px;
    color: #111827;
    font-family: "Poppins";
    font-size: 92px;
    font-style: normal;
    font-weight: 500;
    line-height: 82px;
    margin-bottom: 40px;
    margin: 0;
    padding: 0;
}

.section-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 80px;
}

.desc-and-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.introduction {
    color:#111827;
    font-family: "Nunito";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: 498px;
    margin-bottom: 48px;
    border-left: solid 5px #111827;
    padding-left: 20px; 
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.icons {
    display: flex;
    width: 551px;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    color:  #111827;
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 0 0;
}

.fw-icon {
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

h3 {
    color: #111827;
    font-family: "Poppins";
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    width: 130px;
    height: 47px;
    margin: 0 auto;
}

.big-icon {
    border: black;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-container {
    gap: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segunda-linha-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 1233px;
    height: 202px;
}

.footer-footer img{
    display: flex;
    height: 24px;
    flex-shrink: 0;
}

.footer-footer-text {
    color:  #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}


.footer-title {
    color: #fff;
    font-family: "Poppins";
    font-size: 92px;
    font-style: normal;
    font-weight: 500;
    line-height: 82px;
    width: 595px;
    height: 164px;
}

.social-icons {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 32px;
}